<h1>Recull de premsa</h1>
<ul>
{% for article in site.data.press %}
	<li>
    <a href="{{ article.link }}" target="_blank">
    	{{ article.title }} - {{ article.newspaper}} ({{article.date}})
	    </a>
	</li>
  {% endfor %}
</ul>