body{
  background: #f0f0f0;
}

.container{
    max-width: 17cm;/*21-2*2 */
    padding: 2cm;
    margin-left: auto;
    margin-right: auto;
    background: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    text-align: justify;
}

@media (max-width: 600px) {
	.container{
		padding: 5px;
	}
}

hr{
	border-width: 0px;
	margin-bottom: 400px;
}

.sindicats{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}

.sindicats img{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.widelogo{
    width: 110px;
}

.longlogo{
    height: 80px;
}

.footer{
    clear: both;
}

button {
    color: #444444;
    background: #F3F3F3;
    border: 1px #DADADA solid;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
    font-size: 17pt;
    outline: none;
    height: 62px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-decoration:none; 
    margin-top: 30px;
    margin-bottom: 30px;
}

button:hover {
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #333333;
    background: #F7F7F7;
}

button:active {
    box-shadow: inset 1px 1px 1px #DFDFDF;   
}

h1{
    margin-top: 60px;
}
h1:first-child{
    margin-top: 0px;   
}

