<!doctype html>
<html>
  <head>
    <title>Manifest contra la reforma low-cost de l'FP</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="stylesheets/stylesheet.css">
  </head>
  <body>
    <main role="main" class="container">

      {{ content }}

    </main>
  </body>
</html>
